*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
header{
    position: fixed;
    height: 55px;
    background-color: rgb(53, 53, 255);
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
   
 
}
header h1{
    color: white;
    margin-left: 4%;
    font-family: cursive;
    font-size: 1.7rem;
}
section{
    height: 570px;
    width: 100%;
    padding-top: 7%;
    
}
section .h1{
    color:  rgb(0, 0, 175);
    text-align: center;
    font-size: 2.5rem;
    /* margin-top: 3%; */
    font-weight: 900;

  
}
section p{
   color:  rgb(53, 53, 255);
   text-align: center;
   margin-left: 16%;
   font-size: 1.2rem;
   margin-top: 0.5%;
   margin-bottom: 4%;
}

/* ---------------seciton------------ */
.section{
    display: flex;
    align-items: center;
    margin: 25px;
    justify-content: space-between;
    margin-left: 10%;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    padding-right:17%;

}
.section h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  rgb(56, 56, 255);
    
}
.section button{
    height: 38px;
    width: 150px;
    background-color:  rgb(64, 64, 250);
    border: 0;
    color: white;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
}

.section button:hover{
    background-color:  rgb(38, 38, 253);
}
.for-all{
    margin-top: 5%;
    display: flex;

    align-items: center;
}
.for-all h1{
    margin-left: 41%;
    color: red;
}
.for-all button{
   

    height: 38px;
    width: 150px;
    background-color:  rgb(131, 53, 255);
    border: 0;
    color: white;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
}
.for-all button:hover{
    background-color: rgb(110, 0, 212);
}
footer{
    height: 100px;
    background-color: rgb(47, 47, 255);
 text-align: center;
 padding-top: 2.5%;

}
.for-all a{
    margin-left: 9.5%;
}
footer p{
    color: white;

}
footer i{
    color: white;
    font-size: 1.5rem;
    margin: 15px;

}
footer i:hover{
    color: rgb(74, 255, 255);
}


/* -----------resposive for mobile-------- */



@media only screen and (max-width: 700px){
    *{
        margin: 0%;
        padding: 0%;
        text-decoration: none;
    }
    header{
        position: fixed;
        height: 45px;
        background-color: rgb(53, 53, 255);
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 100%;
       
     
    }
    header h1{
        color: white;
        margin-left: 4%;
        font-family: cursive;
        font-size: 1.3rem;
    }
    section{
        height:550px;
        width: 100%;
        padding-top: 7%;
        /* border: 2px solid rgb(170, 0, 0); */
        
    }
    section .h1{
        color:  rgb(0, 0, 175);
        text-align: center;
        font-size: 1.5rem;
        /* margin-top: 3%; */
        font-weight: 900;
        margin-top: 19%;
      
    }
    section p{
       color:  rgb(53, 53, 255);
       text-align: center;
       /* margin-left: 16%; */
       font-size: 1rem;
       margin-top: 0.5%;
       margin-bottom: 50px;
       
      
    }
    
    /* ---------------seciton------------ */
    .section{
        display: flex;
        align-items: center;
        margin: 28px;
        justify-content: space-between;
        margin-left: 5%;
        /* background-color: aqua; */
        /* border: 1px solid black; */
        padding-right:0%;
     
    
    }
    .section h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:  rgb(56, 56, 255);
        font-size: 1rem;
        margin-right: 1px;
        
    }
    .section button{
        height: 26px;
        width: 72px;
        background-color:  rgb(64, 64, 250);
        border: 0;
        color: white;
        font-weight: 600;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        border-radius: 5px;
    }
    
    .section button:hover{
        background-color:  rgb(38, 38, 253);
    }
    .for-all{
        margin-top: 8%;
        display: flex;
    
        align-items: center;
    }
    .for-all h1{
        margin-left: 10%;
        color: red;
        font-size: 1rem;
        
    }
    .for-all button{
       
        height: 24px;
        width: 95px;
        background-color:  rgb(131, 53, 255);
        border: 0;
        color: white;
        font-weight: 600;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        border-radius: 5px;

    }
    .for-all button:hover{
        background-color: rgb(110, 0, 212);
    }
    footer{
        height: 100%;
        width: 100%;
        background-color: rgb(47, 47, 255);
     text-align: center;
     padding-top: 2.5%;
     margin-bottom: 0;
     position: fixed;
    
    }
    .for-all a{
        margin-left: 9.5%;
    }
    footer p{
        color: white;
        font-size: 0.8rem;
        margin-top: 10px;
    
    }
    footer i{
        color: white;
        font-size: 1rem;
        margin: 10px;
    
        margin-top: 20px;
    }
    footer i:hover{
        color: rgb(74, 255, 255);
    }
    

}